<aside class="sidebar">
  
  <div class="widget widget-social">
    <h3 class="widget-title">Subscribe & Follow</h3>
    <ul class="social-profiles list-reset">
      {% if site.facebook %}
      <li class="social-profiles-item">
        <a href="{{ site.facebook }}" class="social-profiles-link"><i class="ion ion-logo-facebook"></i></a>
      </li>
      {% else %} {% endif %}

      {% if site.instagram %}
      <li class="social-profiles-item">
        <a href="{{ site.instagram }}" class="social-profiles-link"><i class="ion ion-logo-instagram"></i></a>
      </li>
      {% else %} {% endif %}
      
    </ul>
  </div>

  
</aside> <!-- /.sidebar -->